<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script>
        swal.fire({
            title: "Error",
            text: "Unknown error happened.",
            icon: "error",
            allowOutsideClick: false
        }).then((result) => {
            if (result.value) {
                location.replace("/upload")
            }
        })
    </script>
    <footer style="text-align: center; font-size: 9px;">
        CitrusFile by <a href="https://matrn.dev">matrndev</a> (2020, published 2023) | <a href="https://github.com/matrndev/citrusfile/blob/main/LICENSE">LICENSE</a> | <a href="https://github.com/matrndev/citrusfile">Source code on GitHub</a>
    </footer>
</body>
</html>