<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CitrusFile</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="maincontainer">
        <h1 class="maintitle">CitrusFile</h1>
        <h3 class="mainsubtitle">Free, anonymous, unlimited file uploader.</h3>
        <br>
        <a href="/upload" class="btngreen">Upload!</a>
    </div>
    <footer style="text-align: center; font-size: 9px;">
        CitrusFile by <a href="https://matrn.dev">matrndev</a> (2020, published 2023) | <a href="https://github.com/matrndev/citrusfile/blob/main/LICENSE">LICENSE</a> | <a href="https://github.com/matrndev/citrusfile">Source code on GitHub</a>
    </footer>
</body>

</html>
