<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CitrusFile - upload</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="maincontainer">
        <h1 class="maintitle">CitrusFile</h1>
        <h3 class="mainsubtitle">Free, anonymous, unlimited file uploader.</h3>
        <br>
        <h4>Select a file:</h4>
        <form action="/send" encType="multipart/form-data" method="post">
            <input type="file" name="file">
            <input class="btngreen" type="submit" value="Submit">
        </form>
    </div>
    <footer style="text-align: center; font-size: 9px;">
        CitrusFile by <a href="https://matrn.dev">matrndev</a> (2020, published 2023) | <a href="https://github.com/matrndev/citrusfile/blob/main/LICENSE">LICENSE</a> | <a href="https://github.com/matrndev/citrusfile">Source code on GitHub</a>
    </footer>
</body>

</html>

